doctype html
html
    head
        title Fingerprint
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        style.
            th, td{
                text-align: center;
                padding: 5px;
                word-wrap: break-word;
                font-size: 70%;
            }
            tr:nth-child(even) {
                background-color:#D6EEEE;
            }
            thead { background-color:#D6EEEE; }
            .input-button{
                margin-top: 10px;
                padding: 8px 15px;
                border: 2px solid rgba(0,0,0,0.5);
                border-radius: 3px;
                color: #444;
                background-color:#f1f1f1;
                cursor: pointer;
                transition: 0.3s ease;
                margin-right:10px;
                text-transform: uppercase;
                margin-bottom:10px;
                font-family: monospace;
            }
            button{
                margin-top: 10px;
                margin-left:10px;
                padding: 8px 15px;
                border-radius: 3px;
                cursor: pointer;
                transition: 0.3s ease;
                margin-right:10px;
                text-transform: uppercase;
                margin-bottom:10px;
                font-family: monospace;
            }
            .input-button:hover{
                color: #f1f1f1;
                background-color:#444;
                border-color:#f1f1f1;
            }
            button:hover{
                //- cursor: not-allowed;
            }
            .popup{
                width: 100%;
                height: 100%;
                border-radius: 30px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0 30px 30px;
                color: #333;
                text-align: center;
                display:none;
                color: #fff;
                align-items: center;
                justify-content: center;
                overflow: auto;
                z-index: 999;
                background-color: rgba(0,0,0,0.6);
            }
            #popup-container img{
                width: 80px;
                margin-bottom: 66px;
                margin-top: 20px;
                border-radius: 50%;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
            h2{
                font-size: 20px;
                font-weight: 500;
                margin: -45px 0 20px;
                color: black;
                padding-left: 10px;
                padding-right: 10px;
            }
            #popup-container button{
                width: 60%;
                margin-top: 8px;
                padding: 10px 0;
                background: #6fd649;
                color: #aaaaa;
                border: 0;
                outline: 0;
                font-size: 14px;
                border-radius: 4px;
                cursor: pointer;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            }
            #div-input-fp{
                justify-content: center;
                display: flex;
                align-content: flex-start;
                align-items: baseline;
            }
            .change-color{
                background-color: #6fd649;
            }
    body(style="margin:0px")
        div(style="display: flex;flex-wrap: wrap;justify-content: center;")
            form(method='post')
                input(type='button', value='Initialize scanner' class="input-button" id="initBtn")
                input(type='hidden', name='submitValue', value='INITIALIZE_DEVICE')  
            form(method='post')
                input(type='button',value='Begin scanner' class="input-button" id="beginBtn")
                input(type='hidden',name='submitValue', value='BEGIN_DEVICE')
            form(method='post')
                input(type='button', value='Close scanner' class="input-button" id="closeBtn")
                input(type='hidden', name='submitValue', value='CLOSE_FINGERPRINT')
        div(style="text-align:center; margin-top:10px")
            img(src="public/fingers.png" alt="Fingerprint" style="max-width: 100%;")
        div(id="popup" class="popup")
            div(style="top:50%; left:50%; transform:translate(-50%, -50%); position:absolute; background:honeydew; border-radius:30px; width:50%; height: 50%;" id="popup-container") 
                img(src="public/tick.jpeg", alt="tick" style="width:80px; height:80px")
                h2 Thank You! 
                p(style="color:black")  Your fingerprint has been successfully registered.
                button(type="button" id="close-modal") OK
        div(id = "div-input-fp")
            label(for="myInput" style="margin-right: 10px;") Enter number of fingers
            input(type="number", id="myInput", min="1", max="20" style="margin-right: 10px;")
            button(type="button" id="fpnum" style="height: 33px;") Send
        div(id="div-input-fp")
            label(for="code") Choose your person code:
            select(name="code" id="person-code")
                option(value="Person_code_01") Person_code_01
                option(value="Person_code_02") Person_code_02
                option(value="Person_code_03") Person_code_03
                option(value="Person_code_04") Person_code_04
            button(type="button" id="codeBtn") Send
        form(class="rating-form" style='margin-top: 8px; max-width: 100%; height: auto;' method="post" id="selectFinger")
            table(border="1" style='border-collapse: collapse; table-layout: fixed; width: 100%; max-width: 100%; overflow-x: auto;') 
                thead 
                    tr 
                        th(style="text-align:left") 
                        th Thumb
                        th Index
                        th Middle
                        th Ring
                        th Pinky
                        th Unknow
                    
                    tr 
                        td Left
                        - var color = (jadeargument["fingerprintColor"] ? '#68f77a' : 'white')
                        td(id="0" style="background-color: #{color}")
                            input(type="radio" name="finger" id="left_thumb" value="0")
                        - var color1 = (jadeargument["fingerprintColor_1"] ? '#68f77a' : 'white')              
                        td(id="1" style="background-color: #{color1}") 
                            input(type="radio" name="finger" id="left_index" value="1")
                        - var color2 = (jadeargument["fingerprintColor_2"] ? '#68f77a' : 'white')
                        td(id="2" style="background-color: #{color2}") 
                            input(type="radio" name="finger" id="left_middle" value="2")
                        - var color3 = (jadeargument["fingerprintColor_3"] ? '#68f77a' : 'white')
                        td(id="3" style="background-color: #{color3}") 
                            input(type="radio" name="finger" id="left_ring" value="3")
                        - var color4 = (jadeargument["fingerprintColor_4"] ? '#68f77a' : 'white')
                        td(id="4" style="background-color: #{color4}") 
                            input(type="radio" name="finger" id="left_pinky" value="4")
                        - var color10 = (jadeargument["fingerprintColor_10"] ? '#68f77a' : 'white')
                        td(id="10" style="background-color: #{color10}") 
                            input(type="radio" name="finger" id="left_unknown" value="10")
                    tr
                        td Right
                        td(id="5") 
                            input(type="radio" name="finger" id="right_thumb" value="5")
                        td(id="6") 
                            input(type="radio" name="finger" id="right_index" value="6")
                        td(id="7") 
                            input(type="radio" name="finger" id="right_middle" value="7")
                        td(id="8") 
                            input(type="radio" name="finger" id="right_ring" value="8")
                        td(id="9") 
                            input(type="radio" name="finger" id="right_pinky" value="9")
                        td(id="11") 
                            input(type="radio" name="finger" id="right_unknown" value="11")
            div(class="button-container" style="text-align: center;")
                button(class="text-center" type="button" id="registerBtn") Register
        br
        br    
        table(border="1" style='border-collapse: collapse; table-layout: fixed; width: 100%; max-width: 100%; overflow-x: auto;') 
            thead 
                tr 
                    th No 
                    th Date
                    th Status 
            each value, index in jadeargument["fingerprintTemplateData"]
                tr 
                    td=index+1
                    td=jadeargument["fingerprintTemplateData"][index]["registeredDate"]
                    td=jadeargument["fingerprintTemplateData"][index]["status"]
        br
        br
        script.
            let remoteUrl = "http://192.168.242.77:4000/status";
            let localUrl = "http://localhost:4000/status";
            //send the radio button value
            $("input[type='radio']").click(function() {
                var selectedValue = $("input[type='radio']:checked").val();
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:4000/testing');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({submitValue: selectedValue}));
            });
            
            //close the popup message
            let close = document.getElementById('close-modal')
            close.addEventListener('click', function() {
                    document.getElementById('popup').style.display = "none"
                    var selectedValue = document.querySelector('input[type="radio"]:checked').value;
                    var td = document.getElementById(selectedValue);
                    td.style.backgroundColor = "#68f77a";
                    var radio = document.querySelector('input[type="radio"]:checked');
                    radio.disabled = true;
            });
            //register fingerprint
            document.getElementById('registerBtn').addEventListener('click', () => {
                document.getElementById('popup').style.display = "block"
                var selectedValue = document.querySelector('input[type="radio"]:checked').value;
                var td = document.getElementById(selectedValue);
                td.style.backgroundColor = "#68f77a";
                var radio = document.querySelector('input[type="radio"]:checked');
                radio.disabled = true;
                const xhr = new XMLHttpRequest();
                xhr.open('POST', localUrl);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({submitValue: 'ENROLL_FINGERPRINT'}));
            });
            //init the scanner
            document.getElementById('initBtn').addEventListener('click', () => {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', localUrl);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({submitValue: 'INITIALIZE_DEVICE'}));
            });
            //begin the scanner
            document.getElementById('beginBtn').addEventListener('click', () => {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', localUrl);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({submitValue: 'BEGIN_DEVICE'}));
            });
            //close the scanner
            document.getElementById('closeBtn').addEventListener('click', () => {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', localUrl);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({submitValue: 'CLOSE_FINGERPRINT'}));
            });
            //send the fingers number
            document.getElementById('fpnum').addEventListener('click', () => {
                let userInput = document.getElementById('myInput').value
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:4000/testing');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({submitValue: userInput}));
            });
            //send the person code
            document.getElementById('codeBtn').addEventListener('click', () =>{
                let personCodeValue = document.getElementById('person-code').value;
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:4000/status');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({submitValue: personCodeValue}));
            });
            
            //auto refresh
            //jadeargument['fingerprintColor'] value still false
            setInterval(function() {
                let status = #{jadeargument['fingerprintColor']};
                if(!status){
                    document.getElementById('0').style.backgroundColor = "#68f77a";
                }
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:4000/status');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({submitValue: status}));
            }, 5000);

