doctype html
html
    head
        title Fingerprint
        style.
            table{
                border-collapse: collapse;
                width: 1000px;
            }
            th,td{
                text-align: left;
                padding: 8px;
                
            }
            tr:nth-child(even) {
                background-color:#D6EEEE;
            }
            thead { background-color:#D6EEEE; }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0;
                width: 100%;
            }

            li {
            float: left;
            }

            li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            }

            li a:hover {
            background-color: #111;
            }
            .active {
                background-color: #04AA6D;
            }

    body
        nav
            ul
                li
                    a(class="active", href="http://localhost:4000/status") Fingerprint Data
                li
                    a(href="http://localhost:4000/error") Error Message
        br
        br
        table(border="1") 
            thead 
                tr 
                    th(style="text-align:left") No 
                    th fp Id
                    th Registered Date
                    th Type 
                    th Vendor
            each value, index in jadeargument["dataSet1"]
                tr 
                    td=index+1
                    td=jadeargument["dataSet1"][index]["fpid"].slice(0 , 20)
                    td=jadeargument["dataSet1"][index]["registeredDate"]
                    td=jadeargument["dataSet1"][index]["operation"]
                    td=jadeargument["dataSet1"][index]["vendor"]
                    
        br
        
        form(method='post', style='margin-bottom:5px', action='http://localhost:4000/init')
            input(type='submit', value='Initialize scanner', style='padding: 8px 20px;width:225px;font-size:14px;border-radius:6px;background: #DCDCDC')
            input(type='hidden', name='initStatus', value='open')  

        form(method='post', style='margin-bottom:5px', action='#')
            input(type='submit',value='Register fingerprint', style='padding: 8px 20px;width: 225px;font-size:14px;border-radius:6px;background: #DCDCDC')
            input(type='hidden',name='registerStatus', value='register')

        form(method='post', style='margin-bottom:5px', action='http://localhost:4000/closeScanner')
            input(type='submit', value='Close scanner', style='padding: 8px 20px;width:225px;font-size:14px;border-radius:6px;background: #DCDCDC')
            input(type='hidden', name='closeStatus', value='Close scanner') 